<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        /* layout.css Style */
      .upload-drop-zone {
      height: 200px;
      border-width: 2px;
      margin-bottom: 20px;
      }

      /* skin.css Style*/
      .upload-drop-zone {
      color: #ccc;
      border-style: dashed;
      border-color: #ccc;
      line-height: 200px;
      text-align: center
          }
      .upload-drop-zone.drop {
      color: #222;
      border-color: #222;
      }
    </style>
    <title>Hello, world!</title>
  </head>
  <body>
    
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><strong>Upload Files</strong> <small> accpted extension : xls only </small></div>
    <div class="panel-body">

      <!-- Standar Form -->
      <h4>Select files from your computer xls files only</h4>
          <form action="#" method="post" enctype="multipart/form-data">
                {% csrf_token %} {{form}} 
                <div class="form-group">
                    <input type="submit" value="Upload" class="btn btn-sm btn-primary" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" />  
                </div>   
            </form>
      

      <hr>

      <!-- Upload Finished -->
      <div class="js-upload-finished">
        <h3>Uploaded files : </h3>
        {% for file in files %}
            <div class="list-group">
                 <a href="files/{{ file.id}}" class="list-group-item list-group-item-success"><span class="badge alert-success pull-right">{{forloop.counter}} - ({{file.upload_date}})</span>{{ file.pic }}</a>
            </div>  
        {% endfor %}

      </div>
    </div>
  </div>
</div> <!-- /container -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>

