<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Résultat Optimiste :
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Classe</th>
                  <th scope="col">Les PDVs</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>A</td>
                  <td>
                    {{resulta4}}
                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>B</td>
                  <td>
                    {{resulta3}}
                  </td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>C</td>
                  <td>
                    {{resulta2}}
                  </td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>D</td>
                  <td>
                    {{resulta1}}
    
                  </td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>E</td>
                  <td>
                    {{resulta0}}
                  </td>
                </tr>
    
              </tbody>
            </table>
          </div>
          
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Résultat Pesimiste :
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">

        
        <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Classe</th>
                  <th scope="col">Les PDVs</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>A</td>
                  <td>
                    {{resulta9}}
                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>B</td>
                  <td>
                    {{resulta8}}
                  </td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>C</td>
                  <td>
                    {{resulta7}}
                  </td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>D</td>
                  <td>
                    {{resulta6}}
    
                  </td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>E</td>
                  <td>
                    {{resulta5}}
                  </td>
                </tr>
    
              </tbody>          
            </table>
          </div>
    


      </div>
    </div>
  </div>
</div>